<phpunit
    bootstrap="test/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./test/AppTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/App</directory>
        </whitelist>
    </filter>

    <logging>
        <!-- <log type="coverage-html" target="build/coverage" /> -->
        <!-- <log type="coverage-text" target="php://stdout" /> -->
    </logging>
</phpunit>
